  <div class="box info-bar">
    <div class="row">
      <div class="col-md-12 col-lg-4 products-showing">Mostrando <strong> {{ bolsasTotal }}</strong> artículos</div>
      <div class="col-md-12 col-lg-7 products-number-sort">
        <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
          <div class="products-number"></div>
          <div class="products-sort-by mt-2 mt-lg-0"><strong>Ordenar por</strong>
            <select name="sort-by" class="form-control">
              <option>Precio</option>
              <option>Nombre</option>
              <option>Tamaño</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row products">
      <div class="col-lg-4 col-md-6"  *ngFor="let item of bolsas;"> 
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="detail.html"><img src="{{item.image}}" alt="" class="img-fluid"></a></div>
              <div class="back"><a href="detail.html"><img src="{{item.image}}" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="detail.html" class="invisible"><img src="{{item.image}}" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="detail.html">{{item.name}}</a></h3>
            <p class="price"> 
              <del></del>{{item.price | currency}}
            </p>
            <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">Ver detalles</a>
              <a (click)="addCart(item._id)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i><span class="hidden-sm"></span></a> 
            </p>
          </div>
          <!-- /.text-->
          <div *ngIf="item.label=='Nuevo'" class="ribbon new">
            <div class="theribbon">Nuevo</div>
            <div class="ribbon-background"></div>
          </div>
  
          <div *ngIf="item.label=='Oferta'" class="ribbon gift">
            <div class="theribbon">Oferta</div>
            <div class="ribbon-background"></div>
          </div>
  
        </div>
        <!-- /.product            -->
      </div>
      <!-- /.products-->
    </div>

  <div class="pages">
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
        <li class="page-item active"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
      </ul>
    </nav>
  </div>
