<div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title">Precios</h3>
    </div>
    <div class="card-body">
    
        <div class="form-group">
          <div class="checkbox" *ngFor="let item of rangoPrecios">
            <label>
              <input type="checkbox" (change)="onChange(item._id, 1,$event)" value="{{item._id}}" required><span class="colour white"></span> {{item.description}}
            </label>
          </div>        
        </div>
        <button class="btn btn-default btn-sm btn-primary" (click)="enviarFiltros(1)"><i class="fa fa-pencil"></i> Buscar</button>
     
    </div>
  </div>
  <div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title">Tamaño</h3>
    </div>
    <div class="card-body">

        <div class="form-group" >
          <div class="checkbox" *ngFor="let item of tamanios">
            <label>
              <input type="checkbox" (change)="onChange(item._id, 2,$event)" value="{{item._id}}"><span class="colour white"></span> {{item.name}}
            </label>
          </div>        
        </div>
        <button class="btn btn-default btn-sm btn-primary" (click)="enviarFiltros(2)"><i class="fa fa-pencil"></i> Buscar</button>

    </div>
  </div>
  <div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title">Colores</h3>
    </div>
    <div class="card-body">

        <div class="form-group" >
          <div class="checkbox" *ngFor="let item of colores">
            <label>
              <input type="checkbox"  (change)="onChange(item._id, 3,$event)" value="{{item._id}}"><span class="colour white"></span> {{item.name}}
            </label>
          </div>        
        </div>
        <button class="btn btn-default btn-sm btn-primary" (click)="enviarFiltros(3)"><i class="fa fa-pencil"></i> Buscar</button>

    </div>
  </div>